#container {
	margin-top: 75px;
	margin-left: 75px;
	margin-right: 75px;

	padding: 50px 100px 50px 100px;

	border-radius: 15px;
	background-color: rgb(123, 202, 194);

	text-align: left;
}

#content-contact {
	text-align: right;
}
div.block-date {
	margin-left: 50px;
}
p {
	margin-top: 10px;
	font-size: 22px;
	margin-left: 50px;
	margin-bottom: -10px;
}
ul {
	margin-top: -15px;
	margin-bottom: 15px;
	margin-left: 125px;
}
#content-about{
	font-size: 32px;
	margin-bottom: 20px;
}
#content-work {
	font-size: 32px;
	margin-bottom: 20px;
}
#content-education {
	font-size: 32px;
	margin-bottom: 20px;
}
#content-hobbies {
	font-size: 32px;
	margin-bottom: 5px;
}

h1 {
	margin-top: 10px;
	font-size: 40px;
	margin-bottom: -10px;
}

h2 {
	font-size: 18px;
	margin-bottom: -10px;
}

h3 {
	margin-top: 10px;
	font-size: 22px;
	margin-bottom: -15px;
	margin-left: 50px;
}
h4 {
	font-size: 22px;
	margin-top: 20px;
	margin-bottom: 25px;
	margin-left: 50px;
}
h5 {
	margin-top: 20px;
	margin-left: 100px;
	margin-bottom: 10px;
	font-weight: 100;
}
li {
	font-size: 18px;
	text-align: left;
	font-weight: 100;
}
